@import "variables.less";

/*
 * FORM STUFF
 */

/* pile of bad hacks to try to catch all the different ones */
#searchInput,
.oo-ui-textInputWidget input,
.oo-ui-textInputWidget textarea,
.oo-ui-textInputWidget.oo-ui-widget-enabled input,
.oo-ui-textInputWidget.oo-ui-widget-enabled textarea,
input[name="target"],
input[name="user"],
input[name="mime"],
input[size$="0"],
input[type="text"],
input[type="checkbox"],
input[type="radio"],
input#wpTemplateSandboxPage,
input.mw-summary,
input.mw-input,
.mw-input input,
.mw-ui-input:invalid,
textarea,
.mw-ui-input-inline {
	padding: 0.35em;
	box-shadow: 0 1px 4px -1px #ddd inset;
	border: solid 1px @bold-border;
}

#searchInput,
input[type="submit"].searchButton {
	padding: 0.45em;
	margin: 0;
	font-weight: normal;
}

input[type="radio"] {
	border-radius: 7px;
}

.oo-ui-buttonElement > .oo-ui-buttonElement-button {
	font-weight: normal;
}

.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button,
input[type="submit"],
input[type="button"],
.mw-ui-button.mw-ui-progressive,
#mw-createaccount-join,
.mw-ui-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button,
button {
	color: #000;
	padding: 0.35em 1em;
	border: solid 1px #aaa;
	border-radius: 3px;
	box-shadow: none;
	text-shadow: 0 1px 1px #fff;
	min-height: 1em;
	background-image: linear-gradient( #fcfcfc, #ededed );

	&:focus {
		background-image: linear-gradient( #fff, #f6f6f6 );
		border: solid 1px #aaa;
		box-shadow: none;
	}

	&:hover {
		background-image: linear-gradient( #fff, #f6f6f6 );
		border: solid 1px #777;
		box-shadow: none;
	}

	&:active {
		background: #fff;
		border: solid 1px #777;
		box-shadow: none;
	}
}

.mw-ui-button.mw-ui-progressive,
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button,
input[type="submit"] {
	font-weight: bold;
}

textarea {
	width: 100%;
	resize: vertical;
	box-sizing: border-box;
	line-height: 1.3em;
}

div.editOptions {
	border-bottom: solid 1px @soft-border;
	padding: 1em 0;
}

.mw-editform #editpage-copywarn {
	line-height: unset;
}

.oo-ui-defaultOverlay {
	font-size: @smaller-text;
}
