@import "mediawiki.mixins";
@import "variables.less";

body {
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.3em;
	padding: 0;
	margin: 0;
	color: #000;
	background: @bold-bkg;
}
#content-header .mobileClear {
	display: none;
}
.client-nojs {
	/* need to specify #header-container to have the style actually applied,
	 * otherwise some stupid display: none; somewhere overrides it. Yay for
	 * cascading!
	 */
	div#header-container {
		/* Allow the menus to remain usable even when JS isn't available/enabled */
		div#p-personal {
			&:hover {
				.dropdown {
					display: block;
				}
				h3 {
					background-position: 100% 90%;
					.background-image-svg('images/arrow-down.svg', 'images/arrow-down.png');
				}
			}
		}
	}
}
a {
	text-decoration: none;
	color: #04a;
}
a:visited {
	color: #027;
}
#p-personal a.new,
.new a,
a.new {
	color: #a03
}
#p-personal a.new:visited,
.new a:visited,
a.new:visited {
	color: #703
}
a.external {
	color: #07a;
}
a.external:visited {
	color: #057;
}
.center,
.center * {
	margin: auto;
	text-align: center;
}
.visualClear {
	clear: both;
}

/* Set up appearance */

#header-container {
	border-bottom: solid 1px @bold-border;
}
#header-navigation-container {
	background: #fff;
}
#content-container {
	background: #fff;
	border-bottom: solid 1px @bold-border;
}

#header-top,
#header-navigation,
#content,
#footer-navigation,
#footer-container {
	.widths;
	margin: auto;
	padding: 1.5em;
	word-wrap: break-word;
}

#content {
	padding-top: 0;
	padding-bottom: 0;
}

/*
 *
 * HEADER STUFF
 *
 */

#header-container {

	#header-top-container {
		padding: .5em 1.5em;
	}
	#header-top {
		padding: 0;
		font-size: 95%;
	}

	/* Banner stuff */
	.mw-wiki-logo {
		display: block;
		width: 66px;
		height: 66px;
		float: left;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		margin-right: 1em;
	}
	#p-banner {
		float: left;

		#sitetitle {
			padding-top: .25em;

			a {
				font-size: 210%;
				font-weight: bold;
				line-height: 140%;
				color: #999;
				/* @noflip */
				text-shadow:  0 -1px 0 #333, 0 2px 1px #fff;

				&:hover {
					text-decoration: none;
				}
			}
		}
		#sitesubtitle {
			font-style: italic;
			font-size: 85%;
			line-height: 1.2em;
		}
	}

	/* Search stuff */
	#p-search {
		float: right;
		clear: right;
		margin-top: .5em;
		margin-top: -2px ~"!ie";
		margin-bottom: 0;
		margin-bottom: -8px ~"!ie";
		font-size: 85%;

		h3 {
			position: absolute;
			top: -9999px;
		}

		#searchInput-container-container {
			display: inline-block;
		}
		#searchInput {
			width: 20em;
			border: solid 1px #ccc;
		}
		#searchGoButton {
			border: solid 1px #bbb;
			height: 30px ~"!ie";
			min-width: 4em;
			margin: 8px 0 ~"!ie";
		}
	}

	/* Login stuff */
	#p-personal {
		float: right;
		color: @text-grey;
		font-size: 85%;
		position: relative;

		.dropdown {
			display: none;
		}
		#p-welcome {
			margin: .25em 0;
			font-size: 1em;
			line-height: 1.3;
			background-repeat: no-repeat;
			background-position: 100% 30%;
			.background-image-svg('images/arrow-down.svg', 'images/arrow-down.png');
			padding: 0 1.75em .3em 0;

			/* Dropdown stuff */
			&:hover {
				cursor: pointer;
			}
		}

		/**
		 * No-JS and JS versions, respectively
		 * Without the latter rule there's some weird flickering and whatnot
		 * with the personal tools menu due to the JS. I have no idea what or
		 * why, but this seems to fix it...
		 */
		&:hover .dropdown,
		.dropdown {
			.generic-dropdown;
			left: auto;
			right: 0;
		}
	}
}

/*
 *
 * FOOTER STUFF
 *
 */
#footer-container {
	#footer-bottom {
		font-size: 85%;
		color: @text-grey;
		padding-top: .5em;
	}
	.footer-icons {
		float: right;
		margin-left: 1em;
	}
	#f-list {
		margin: 1em 0 0;
		padding: 0;
		font-size: 90%;
		list-style: none;

		li {
			display: inline;
			margin: 0 1em 0 0;
		}
	}
}
#header-navigation-container {
	border-bottom: solid 1px @soft-border;
}
#footer-navigation h3 {
	margin: 0 0 1em;
	font-size: 85%;
}
#footer-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer-navigation .mw-portlet {
	float: left;

	padding: 1.5em;

	li {
		font-size: 85%;
	}
}
#footer-navigation .navigation .mw-portlet:first-of-type {
	padding-left: 0;
}
#footer-navigation .navigation-tools .mw-portlet:last-of-type {
	padding-right: 0;
}
#footer-navigation {
	padding-top: 0;
	font-size: 80%;

	h3 {
		color: @text-grey;
	}
	a {
		color: @link-grey;
	}
}
#footer-navigation .navigation-tools ul {
	columns: 2 9em;
	-moz-columns: 2 9em;
	-webkit-columns: 2 9em;
}
#footer-container {
	clear: both;
}


/*
 *
 * PREFERENCES AND FIELDSET STUFF
 *
 */
#preftoc {
	margin: 0 0 1em;
	padding: 0;
	list-style: none;
	clear: both;

	li {
		display: inline;
		margin-right: 1em;

		&.selected {
			border-bottom: solid 3px @soft-border;

			a {
				color: #000;
			}
		}
		a {
			color: @link-grey;
		}
	}
}
#preferences {
	margin: 0;
	clear: both;
	min-height: 400px;

	.prefsection {
		border: none;
		padding: 0;
		margin: 0;
	}
	.mainLegend {
		display: none;
	}
	.preferences-login {
		clear: both;
		margin-bottom: 1.5em;
	}
	.mw-email-not-authenticated .mw-input, .mw-email-none .mw-input {
		display: block;
	}
}

/*
 *
 * FORM STUFF
 *
 */

/* pile of bad hacks to try to catch all the different ones */
#searchInput,
input[name="target"],
input[name="user"],
input[name="mime"],
input[size$="0"],
input[type="text"],
input[type="checkbox"],
input[type="radio"],
input#wpTemplateSandboxPage,
input.mw-summary,
input.mw-input,
.mw-input input,
textarea,
.mw-ui-input-inline {
	padding: .35em;
	box-shadow: 0 1px 4px -1px #ccc inset;
	border: solid 1px @bold-border;
	margin: .5em 0;
}
select {
	padding: .2em;
	margin: .5em 0;
}
#searchInput,
input[type="submit"].searchButton {
	padding: .45em;
	margin: 0;
}
input[type="radio"] {
	border-radius: 7px;
}
input[type="submit"],
input[type="button"],
button {
	padding: .35em 1em;
	border: solid 1px #ccc;
	border-radius: 3px;
	box-shadow: none;
	.vertical-gradient ( #fcfcfc, #ededed, 0, 100% );

	&:active {
		.vertical-gradient ( #fff, #f6f6f6, 0, 100% );
	}
}
textarea {
	width: 100%;
	resize: vertical;
	box-sizing: border-box;
	line-height: 1.3em;
}
div.editOptions {
	background: #fff;
	border-bottom: solid 1px @soft-border;
	padding: 1em 0;

	.mw-summary label {
		padding-left: 0;
	}
	input#wpSummary {
		box-sizing: border-box;
		width: 100%;
	}
	label {
		margin-right: 1.5em;
	}
}
td.mw-input,
td.mw-label {
	vertical-align: middle;
}

fieldset {
	border: 1px @bold-border;
	border-style: solid none none;
	line-height: 1.3em;
	margin: 1em 0;
	padding: 1.5em 0 0 0;

	legend {
		padding: 0 1em;
		text-shadow: 0 0 1px #999;
		margin-left: 1em;
	}
}
label {
	padding-left: .5em;
}
.mw-input label {
	padding: 0;
	margin-right: 1em;
}
.mw-label {
	padding-right: .5em;
}
.mw-submit {
	padding-top: 2em;
}
.htmlform-tip {
	font-size: 85%;
	color: @text-grey;
	line-height: 1.2em;
	padding: 1em 0;
}

/* Recent changes and watchlist options */
.rcoptions hr,
#mw-watchlist-options hr {
	clear: both;
}
.rcoptions #namespace,
#mw-watchlist-options .namespaceselector {
	margin-right: 2em;
}

/* Watchlist */
#mw-watchlist-options {
	label {
		padding: 0 1em 0 0;
	}
	input[type="submit"] {
		margin: 0 0 0 4em;
	}
}

/* Related changes hacks */
.mw-special-Recentchangeslinked {
	.rcoptions {
		input[type="submit"] {
			float: right;
			margin: 0 0 0 4em;
		}
		td.mw-label.mw-target-label {
			vertical-align: top;
			padding-top: .75em;
		}
		input[name="target"] {
			float: left;
		}
	}
	#showlinkedto {
		clear: left;
		float: left;
	}
	label[for="showlinkedto"] {
		padding: .4em;
		float: left;
	}
}

/*
 *
 * Content header
 *
 */
#content-header-inner {
	border-bottom: solid 1px @soft-border;
	margin-top: 1px;
	content: '';
	margin-bottom: .75em;
}
#content-header {
	border-bottom: solid 1px @soft-border;
	padding-bottom: .25em;
	padding-top: 1.25em;

	h3 {
		position: absolute;
		top: -9999px;
	}
	#firstHeading {
		font-size: 195%;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		margin-right: .5em;
	}
	h1, div, ul {
		display: inline-block;
		 *display: inline;
	}

	ul {
		margin: 1em 0 0 0;
		padding: 0;
		list-style: none;
		text-shadow: none;
		font-variant: normal;
		line-height: 1.1em;
		font-size: 90%;

		li {
			display: inline-block;
			margin: .3em .75em 0 0;

			&.selected a {
				color: @text-grey;
			}
		}
	}

	#page-tools {
		float: right;

		ul li {
			margin: .3em 0 0 .75em;
		}
		#p-actions {
			margin-left: .75em;
		}
	}
}


/*
 *
 * CONTENT STUFF
 *
 */
#content-container {
	font-size: 90%;
}
#mw-content-text {
	padding-bottom: 1.5em;
	font-size: 95%;
}

#siteSub {
	display: none;
}

h1, h2, h3, h4, h5, h6, dt {
	line-height: 1.1em;
	font-weight: normal;
	color: @header-grey;
	margin: 2em 0 .5em;
}
h1 .mw-editsection,
h2 .mw-editsection,
h3, h4, h5, h6, dt {
	font-variant: normal;
}
#mw-content-text {
	h1, h2 {
		border-bottom: solid 1px @soft-border;
	}
	.toc h2 {
		border-bottom: none;
	}
}
h1 {
	font-size: 200%;
	color: @text-grey;
}
h2 {
	font-size: 170%;
}
h3 {
	font-size: 140%;
}
h4 {
	font-size: 125%;
}
h5 {
	font-size: 110%;
	color: #333;
}
h6, dt {
	font-size: 100%;
	color: #000;
}
.mw-editsection-bracket {
	display: none;
}
.mw-editsection {
	text-shadow: none;
}
hr {
	border: 1px @soft-border;
	border-style: solid none none none;
}
pre {
	overflow: auto;
	white-space: pre-wrap;
}

/* Categories */
#catlinks {
	font-size: 85%;
	border-top: solid 1px @soft-border;
	margin: 1.75em 0 0;
	padding: .35em 0 0;
	color: @fluff-grey;

	li {
		border: none;
		padding-right: .75em;
	}
}

#contentSub {
	font-size: 85%;
	margin: 0;
	border-bottom: solid 1px @soft-border;
	padding: .25em 0 .1em;
	color: @fluff-grey;

	a {
		color: @link-grey;
	}
}

/* Tables of contents */
ul#filetoc {
	border: none;
	border-bottom: 1px solid @soft-border;
	background: transparent;
	margin-top: 1em;
	padding: 0;

	a {
		color: @link-grey;
	}
}
#toc, .toc, .mw-warning {
	font-size: 95%;
	padding: 1em 0 .5em 0;
	border-bottom: solid 1px @soft-border;
	color: @text-grey;
	display: inline-block;
}
#toc a, .mw-editsection a {
	color: @link-grey;
}
.toc ul {
	list-style: none;
}
.toc h2 {
	font-size: 120%;
	margin-top: .5em;
	margin-right: 1em;
	display: inline-block;
}


#toc #toctitle {
	border-bottom: solid 1px @soft-border;
	margin-bottom: 1em;
}


/* Thumbnails */
.tright {
	margin: 0 0 .5em .5em;

	.thumbinner {
		padding: 0 0 1em 1.5em;
		background: #fff;
	}
}
.tleft {
	margin: 0 .5em .5em 0;

	.thumbinner {
		padding: 0 1.5em 1em 0;
		background: #fff;
	}
}
.thumbcaption {
	font-size: 90%;
	border-bottom: solid 1px @soft-border;
	padding-bottom: 1em;
}
.thumbinner img{
	border: solid 1px @soft-border;
}
