/* js stuff */

/* For the footer menus */
#footer-container {
	padding-top: 0;
}
#footer-navigation	{

	.p-body {
		display: none;
	}
	.mw-portlet {
		padding: 0;
	}
	h3 {
		margin: 0;
		padding: .75em 0 .75em 0;

		&:hover {
			cursor: pointer;
		}
	}
	.mw-portlet.visible {
		padding-bottom: .75em;
	}
	li {
		padding: .25em 1em;
	}
}
