/* js stuff */

/* For the footer menus */
#footer-container {
	padding-top: 0;
}
#footer-navigation .p-body {
	display: none;
}
#footer-navigation .mw-portlet {
	padding: 0;
}
#footer-navigation h3 {
	margin: 0;
	padding: .75em 0 .75em 0;
}
#footer-navigation .mw-portlet.visible {
	padding-bottom: .75em;
}
#footer-navigation li {
	padding: .25em 1em;
}
