@import "variables.less";

/* Extra stuff mobile doesn't need */
#sitesubtitle,
#header-navigation-container,
#p-logo,
#content-header ul li#ca-view {
	display: none;
}

/* Full-width search */
#header-container #p-search {
	float: none;
}
#searchInput-container-container {
	margin-right: -7em;
	width: 100%;
	display: inline-block;
}
#searchInput-container {
	margin-right: 7em;
}
#header-container #p-search #searchInput {
	width: 100%;
	box-sizing: border-box;
}
#searchGoButton {
	width: 6em;
	float: right;
}

/* Full-width thumbnails */
div.thumb {
	float: none;
}
.thumb {
	width: 100%;
	margin: 1em auto;
}
.tright {
	margin-left: 0;

	.thumbinner {
		padding-left: 0;
	}
}
.tleft {
	margin-right: 0;

	.thumbinner {
		padding-right: 0;
	}
}
.thumbinner {
	width: 100% !important;
}
.thumbimage {
	display: block;
	margin: 0 auto .5em;
}

/* Keep images from overflowing */
#content a > img {
	height: auto !important;
	max-width: 100% !important;
}

/* Table of contents */
#toc, .toc, .mw-warning {
	width: 100%;
}

/* Mobile float cleanup */
.mobileClear,
#content-header .mobileClear {
	display: block;
	clear: both;
}

/* Footer links and icons */
#footer-container #f-list li#lastmod {
	display: block;
	margin-bottom: 1em;
}
#footer-container .footer-icons {
	float: none;
	display: inline;
}
#f-list {
	font-size: 100%;
}

/* Footer */
#footer-navigation {
	font-size: 100%;
}
#footer-navigation .mw-portlet {
	float: none;
	padding: 1em 0 1.5em;
	border-bottom: solid 1px @bold-border;
}
#footer-navigation .p-body ul {
	columns: 12em 2;
	-moz-columns: 12em 2;
	-webkit-columns: 12em 2;
}
