
/* Extra stuff mobile doesn't need */
#sitesubtitle,
#header-navigation-container {
	display: none;
}

/* Full-width search */
#header-container #p-search {
	float: none;
}
#searchInput-container-container {
	margin-right: -7em;
	width: 100%;
	display: inline-block;
}
#searchInput-container {
	margin-right: 7em;
}
#header-container #p-search #searchInput {
	width: 100%;
	box-sizing: border-box;
}
#searchGoButton {
	width: 6em;
	float: right;
}
